extends layout.pug

block content

  article.portfolio-intro


    h1 Welcome to my Portfolio


    p A variety of projects showcasing my JavaScript journey

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, height = '250px', width = '500px', alt=`${project.project_name}`)
            h5= `${project.project_name}`


